.card {
    background: var(--tertiary-color);
    border: var(--border-color) 1px solid;
    width: 500px;
    padding: 1rem 0;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card a {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px ;
    color: var(--quaternary-color);
}

.card .vaga-infos {
    display: flex;
    flex-direction: column;
}

.card .vaga-infos .row {
    display: flex;
    align-items: center;
}

.card .vaga-infos .row img {
    width: 20px;
    height: 20px;
}

.card .vaga-infos .row p {
    margin-right: 15px;
}