footer {
    background: var(--primary-color); 
    color: var(--tertiary-color); 
    height: 10vh; 
    width: 100%;
    flex-shrink: 0;
} 
    
footer .container { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 100%; 
} 
         
.social-media { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
}


