header{
    display: flex;
   
}

.tech-yks-header{
    margin: 1% 50% 0 5%;

}

#ver-vagas{
    margin: 0.5% 0.2% 0 1%;
    
}

#ver-vagas > a{
    text-decoration: none;
}

#ver-vagas > a > p{
    font-family: "Inter", sans-serif;
    font-size: 92%;
    font-weight: 600;
    color: #808080;
}

#para-empresas{
    margin: 0.5% 1% 0 0.5%;
}

#para-empresas > a{
    text-decoration: none;
}

#para-empresas > a > p{
    font-family: "Inter", sans-serif;
    font-size: 92%;
    font-weight: 600;
    color: #808080;
}


header > a{
    margin-top: 0.8%;
    width: 6%;
    height: 25px;
    padding: 0.5% 0 0.5% 3%;
    border: 1px solid #00A760;
    border-radius: 7px;
    color: #FFFFFF;
    background-color: #00A760;
    text-decoration: none;
}

#enter-button > p{
    font-family: "Inter", sans-serif;
    font-size: 92%;
    font-weight: 600;
    margin: 4px 2px 2px -2px;
    
}

/*---------------------------------------------------------------------------------------*/

.cadastro-geral{
    margin-top: 10%;
    text-align: center;
    height: 450px;
}

.cadastro-geral > h3{
    padding-top: 12%;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

.cadastro-geral{
    text-align: center;
    background-color: #00a760;
    margin: 7% 38% 0 40%;
    border-radius: 8px;
}

.camp{
    line-height: 200%;
    
}

.camp > h5{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    margin-bottom: -4%;
}

label{
    display: block;
    margin-right: 63%;
}

input{
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    height: 20px;
    width: 75%;
}

#confirm-password{
    margin-right: 40%;
}

.register-button{
    color: #FFFFFF;
    background-color: #34495E;
    margin: 3% 0 5% 0;
    width: 50%;
    height: 40px;
    border: 1px solid #34495E;
    border-radius: 5px;
    font-family: "Lexend", sans-serif;
    font-size: 18px;
    font-weight: 600;
    
}

.register-button > p{
    margin-top: 5%;
}

.cadastro-geral > a{
    margin-top: 100%;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}
