@import './global.css';

header {
    background: var(--background-color);
    height: 10vh;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link {
    color: var(--font-color);
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 0px;
}

.btn-perfil {
    color: var(--quinary-color);
}

#btn-menu {
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    gap: .4rem;
}

#hamburger {
    width: 27px;
    border-top: 4px solid var(--primary-color);
    display: block;
}

#hamburger::after,
#hamburger::before {
    content: '';
    display: block;
    width: 27px;
    height: 4px;
    margin-top: 3px;
    background-color: var(--primary-color);
    transition: 0.3s;
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 10vh;
    right: 0;
    width: 250px;
    background-color: #DEDEDE;
    padding: 0 1rem;
    color: var(--font-color);
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 2px 0;
    font-weight: 400;
}

.dropdown.active {
    display: block;
}

main {
    background-color: var(--quaternary-color);
    color: var(--font-color);
}

main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

main h1 {
    color: var(--tertiary-color);
    font-size: 1.7rem;
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}

main h1::after {
    content: '';
    display: block;
    width: 110px;
    height: 5px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

form {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 4.5rem;
    width: 800px;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    line-height: 2;
    border-radius: 8px;
}

form input {
    border:var(--quaternary-color) 1px solid;
    height: 30px;
    margin-bottom: 1rem;
    padding: 0 10px;
}

form textarea {
    border:var(--quaternary-color) 1px solid;
    margin-bottom: 1rem;
    padding: 10px;
    resize: none;
}

main p {
    text-align: center;
    margin: 1.5rem 0;
    color: var(--tertiary-color);
    font-weight: 600;
}

main .btn-create {  
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: none;
    border-radius: 3px;
    padding: .5rem 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

