@import './global.css';

section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.form {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
}

.form h1 {
    color: var(--tertiary-color);
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 20px;
}

.form h1::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 8px;
    background-color: var(--tertiary-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form input {
    border-radius: 5px;
    padding: .5rem .9rem;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    border: none;
}

form label {
    color: var(--tertiary-color);
    font-weight: bold;
    margin: 10px 0 2px 0;
}

form .link-password{
    text-align: right;
    margin: 5px 0 20px 0;
    color: var(--tertiary-color);
    font-weight: 500;
}

.btn {
    padding: .7rem 1.5rem;
    width: 200px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.enter-button{
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
}

.register-button {
    background-color: var(--quaternary-color);
    color: var(--tertiary-color);
}

.link-company {
    color: var(--tertiary-color);
    text-align: center;
    font-weight: 500;
}