@import './global.css';


section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.form {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 2.5rem 2.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 550px;
}

.form h3 {
    color: var(--tertiary-color);
    font-size: 1.9rem;
    position: relative;
    margin-bottom: 60px;
}

.form h3::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 8px;
    background-color: var(--tertiary-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form input {
    border-radius: 5px;
    padding: .6rem 1rem;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    margin-bottom: 20px;
    border: none;
}

form label {
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 2px;
}

form .link-password{
    text-align: right;
    margin-bottom: 20px;
    color: var(--tertiary-color);
    font-weight: 500;
}

.btn {
    padding: .7rem 1.5rem;
    width: 200px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.enter-button{
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
}

.register-button {
    background-color: var(--quaternary-color);
    color: var(--tertiary-color);
}

.link-company {
    color: var(--tertiary-color);
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}