@import './global.css';

.login { 
    margin-top: 10%; 
    text-align: center; 
    height: 450px; 
} 

.login > h3 { 
    padding-top: 12%; 
    color: #FFFFFF; 
    font-family: "Inter", sans-serif;
    margin-bottom: 5%;
 } 
 
 .login { 
    text-align: center; 
    background-color: #00a760; 
    margin: 7% 42% 0 40%; 
    border-radius: 8px; 
    margin-bottom: 9.5%;
} 

.camp { 
    line-height: 50px; 
} 

.camp > h5 { 
    color: #FFFFFF; 
    font-family: "Inter", sans-serif; 
    margin-bottom: -4%;
 } 

 
 label { 
    display: block; 
    margin-right: 63%; 
    margin-bottom: -7%;
   
} 

input { 
    border: 1px solid #FFFFFF; 
    border-radius: 3px; 
    height: 30px; 
    width: 75%; 
    
} 

.recuperar-senha > a{
    color: #FFFFFF;
    font-size: 80%;
    margin-left: 40%;

}

.enter-button{
    color: #34495E; 
    background-color: #FFFFFF;
    margin: 8% 0 0 0;
    width: 50%;
    height: 45px;
    border: 1px solid #FFFFFF;
    border-radius: 5px; 
    font-family: "Lexend", sans-serif; 
    font-size: 18px; 
    font-weight: 800; 
}

.register-button { 
    color: #FFFFFF; 
    background-color: #34495E;
    margin: 3% 0 5% 0;
    width: 50%;
    height: 40px;
    border: 1px solid #34495E;
    border-radius: 5px; 
    font-family: "Lexend", sans-serif; 
    font-size: 18px; 
    font-weight: 600; 
} 

.register-button > p { 
    margin-top: 0.5%; 
} 

.login > a { 
    margin-top: 100%; 
    font-family: "Inter", sans-serif; 
    font-size: 12px; 
    color: #FFFFFF; 
    text-decoration: none; 
}
