@import './global.css';

.section-usuario {
    background-color: var(--quaternary-color);
    padding: 1.5rem 0;
}

.section-usuario .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--tertiary-color);
}

.info-box .company-img {
    width: 80px;
    height: 80px;
}

.user-description {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--tertiary-color);
}

.name-company {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.user-location {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.btn-candidatar {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    font-weight: 500;
    cursor: pointer;
}

.section-description {
    padding: 2rem 0;
}

.section-description h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section-description h1::after {
    content: '';
    display: block;
    width: 60px;
    border-bottom: 5px solid var(--primary-color);
    margin-top: 0.5rem;
}

.description p,
.requirements li,
.salary p {
    width: 45rem;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0 0 1rem 0;
    line-height: 1.4rem;
}