@import './global.css';

.section-empresa {
    background-color: var(--quaternary-color);
    padding: 1.5rem 0;
}

.section-empresa .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--tertiary-color);
}

.infos .company-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--tertiary-color);
}

.infos ul {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--tertiary-color);
    font-size: 0.9rem;
}

.infos ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.infos ul li img {
    width: 20px;
    height: 20px;
}

.btn-editar {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
}

.section-vagas {
    padding: 2rem 0;
    min-height: 80vh;
}

.section-vagas h1 {
    margin-bottom: 1rem;
}

.section-vagas h1::after {
    content: '';
    display: block;
    width: 65px;
    height: 5px;
    background-color: var(--primary-color);
}

.num-vancancy {
    color: var(--primary-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 30px 0;
}

.num-vancancy .num-vagas {
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-vagas .box-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.section-vagas .btn-editar {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
}