@import './global.css';

.container, .banner .container, .section-infos .container, .section-vagas .container {
    height: 100%;
}

.banner {
    background: url('../assets/banner.png') fixed center/cover;
    height: 50vh;
}

.banner-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.banner-content p {
    font-size: 1rem;
    font-weight: bold;
    color: var(--tertiary-color);
}

.section-infos {
    background: #EEEEEE;
    padding: 2.0rem 0;
}

.info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.info-content h2 {
    font-size: 1.1rem;
}

.info-content p {
    font-size: 0.9rem;
    color: var(--quaternary-color);
    font-weight: bold;
    margin-left: 15px;
}

.section-vagas {
    padding: 3rem 0;
}

.section-vagas h2 {
    font-size: 2rem;
    position: relative;
    text-align: center;
}

.section-vagas h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 85px;
    height: 5px;
    background: var(--primary-color);
}

.section-vagas h3{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 30px;
}

.section-vagas h3::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: var(--primary-color);
    margin-top: 10px;
}

.vagas-content{
    display: flex;
    gap: 20px;
    padding: 4rem 0;
}


.btn-vagas  {
    text-align: center;
}

.btn-vagas a {
    border-radius: 8px;
    font-weight: bold;
    background: var(--primary-color);
    color: var(--tertiary-color);
    padding: .8rem 1.5rem;
}
